<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi sitio</title>
</head>
<body>
    
<header>
    <nav style="background-color: #fff159;"> 
    <img src="\images\logo-mercado-liebre.svg" width="100">
    <form action="" class="search"> 
        <label for="submit" class="submit"></label>
	<input type="search" name="Search" id="search" placeholder="Buscar productos, marcas y más...">
    <img src="\images\lupa.png" class="icon" width="15">
    </form> 
    <p style="margin-top:0.2cm;">Comprá en cuotas y sin tarjeta de crédito</p> 
    </nav>
    <nav>
    <ul>
       <li> <a href="/ofertas">Ofertas</a></li>
        <li><a href="/tiendas">Tiendas Oficiales</a></li>
        <li><a href="/vender"> Vender</a></li>
        <li><a href="/help">Ayuda</a></li>

    </ul>
</nav>
<nav>
    <ul>
        <li><a href="/register">Creá tu cuenta</a></li>
        <li><a href="/login">Ingresá</a></li>
        <li><a href="/cart">Mis compras</a></li>
    </ul>
</nav>
</header>
    <main>
        <img style="margin: top 0cm;" src="\images\img-home-banner.jpg" class="banner" width="100%">
        <section>
            <h2 style="color: rgb(133, 127, 127);">Basado en tu última visita</h2>
           <article>
               <img src="\images\img-cafetera-moulinex.jpg" width="100%">
               <h4>$6.770</h4> 
               <p style="color: green;">40% OFF</p>
               <h3>Cafetera Moulinex</h3>
           </article>
           <article>
               <img src="\images\img-macbook-pro-2019.jpg" width="100%">
               <h4>$230.000</h4>
               <p style="color: green;">20% OFF</p>
               <h3>MacBook Pro 2019</h3>
           </article>
           <article>
               <img src="\images\img-samsung-galaxy-s10.jpg" width="100%">
               <h4>$70.500</h4>
               <p style="color: green;">10% OFF</p>
               <h3>Samsung Galaxy S10</h3>
           </article>
           <article>
               <img src="\images\img-tv-samsung-smart.jpg" width="100%">
               <h4>$23.200</h4>
               <p style="color: green;">5% OFF</p>
               <h3>SmartTv Samsung 43"</h3>
           </article>
        </section>
        <h2 style="color: rgb(133, 127, 127);">Ofertas</h2>
        
        <section>
            <article>
                <img src="\images\img-cafetera-moulinex.jpg" width="100%">
                <h4>$6.770</h4> 
                <p style="color: green;">40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="\images\img-macbook-pro-2019.jpg" width="100%">
                <h4>$230.000</h4>
                <p style="color: green;">20% OFF</p>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="\images\img-samsung-galaxy-s10.jpg" width="100%">
                <h4>$70.500</h4>
                <p style="color: green;">10% OFF</p>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="\images\img-tv-samsung-smart.jpg" width="100%">
                <h4>$23.200</h4>
                <p style="color: green;">5% OFF</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
    </main>

    <footer>
        <section>
            <ul>
                <li><h4 style="color: rgb(99, 96, 96);">Pagá con tarjeta o en efectivo</h4></li>
            </ul>
            <p style="color: grey;">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <ul>
                <li><h4 style="color: rgb(99, 96, 96);">Envío gratis desde $2.500</h4></li>
            </ul>
            <p style="color: grey;">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <ul>
                <li><h4 style="color: rgb(99,96,96);">Seguridad, de principio a fin </h4></li>
            </ul>
            <p style="color: grey;">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
        </section>
        <section>
            <ul>
                <li><h4 style="color: rgb(99,96,96);">Copyright © 1999-2021 MercadoLiebre S.R.L.</h4></li>
            </ul>
        </section>
    </footer>
</body>
</html>